/* index.css */

:root {
  --background-color: #ff69b4;
  --background-transparent-color: rgba(255, 182, 193, 0.2);
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center; /* Center all text globally */
}

header {
  background-color: rgba(255, 192, 203, 0.8);
  padding: 2vh;
  text-align: center;
}

.site-title {
  color: pink;
  font-size: 3em;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-transparent-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2);
  padding: 2vh;
  margin: 4vh;
  max-width: 300px;
  transition: transform 0.3s ease;
  text-align: center; /* Center the movie section */
}

.movie:hover {
  transform: scale(1.02);
}

.movie img {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.movie img:hover {
  transform: scale(1.1);
}

.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
  width: 100%;
}

.title {
  font-size: 2em;
  color: black; /* Change movie title color to black */
  margin: 0;
}

.description {
  font-size: 1.2em;
  margin-top: 1vh;
}

.year {
  margin-top: 1vh;
  font-weight: bold;
  align-self: flex-end;
}

.movie a {
  margin-top: 1rem;
  background-color: var(--background-color);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.movie a:hover {
  background-color: hotpink;
  transform: scale(1.05);
}

#moviesNav,
#reviewsNav {
  padding: 10px 20px;
  color: white;
  background-color: pink;
  margin: 20px auto;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: auto;
}

#reviewsNav:hover,
#moviesNav:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie {
    max-width: 100%;
    flex-direction: column;
    padding: 2vh;
  }

  .movie img {
    width: 80%;
  }

  .title {
    font-size: 1.8em;
  }

  .description {
    font-size: 1em;
  }
}
