/* reviews.css */

:root {
  --background-color: #ff69b4;
  --background-transparent-color: rgba(255, 182, 193, 0.2);
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: rgba(255, 192, 203, 0.8);
  padding: 2vh;
  text-align: center;
}

#headerdiv h1, #headerdiv p {
  margin: 0;
}

#headerNav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#headerNav a {
  margin: 0 15px;
  padding: 10px;
  background-color: pink;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

#headerNav a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
}

.reviewDiv {
  border: 1px solid var(--background-color);
  margin: 5vh auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background-transparent-color);
  max-width: 80%;
  width: 100%;
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review .name::before {
  content: "- ";
}

.review .text {
  border-left: 4px solid hotpink;
  padding-left: 10px;
  color: #444;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  background-color: var(--background-color);
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-color: hotpink;
  transform: scale(1.05);
}

#moviesNav,
#reviewsNav {
  padding: 10px;
  color: white;
  background-color: pink;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin: 5px;
  width: auto;
}

#moviesNav:hover,
#reviewsNav:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
