:root {
  --background-color: #ff69b4;
  --background-transparent-color: rgba(255, 182, 193, 0.2);
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: rgba(255, 192, 203, 0.8);
  padding: 2vh;
  text-align: center;
}

#headerdiv h1, #headerdiv p {
  margin: 0;
}

#headerNav {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#headerNav a {
  margin: 0 15px;
  padding: 10px;
  background-color: pink;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

#headerNav a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  align-items: center;
  width: 60%;
  margin-top: 5vh;
}

input,
textarea {
  width: 80%;
  margin: 10px;
  background-color: var(--background-transparent-color);
  color: #333;
  padding: 10px;
  border: 1px solid hotpink;
  border-radius: 8px;
}

input {
  height: 3vh;
}

textarea {
  height: 10vh;
}

h1 {
  text-align: center;
}

button {
  background-color: var(--background-color);
  color: black;
  width: 20%;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: hotpink;
  transform: scale(1.05);
}

a {
  color: black;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 768px) {
  form {
    width: 90%;
  }

  input,
  textarea {
    width: 100%;
  }

  button {
    width: 60%;
  }
}
