:root {
  --background-color: #ff69b4;
  --background-transparent-color: rgba(255, 182, 193, 0.2);
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

input,
textarea {
  width: 50%;
  align-self: center;
  margin: 10px;
  background-color: var(--background-transparent-color);
  color: #333;
  padding: 10px;
  border: 1px solid hotpink;
  border-radius: 8px;
}

input {
  height: 3vh;
}

textarea {
  height: 10vh;
}

h1,
a {
  text-align: center;
}

button {
  background-color: var(--background-color);
  color: white;
  width: 20%;
  align-self: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: hotpink;
  transform: scale(1.05);
}

a {
  color: white;
  text-decoration: none;
}

#moviesNav,
#reviewsNav {
  background-color: pink;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

#moviesNav:hover,
#reviewsNav:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  input,
  textarea {
    width: 80%;
  }

  button {
    width: 60%;
  }
}
